<ng-container *ngIf="filteredIssues as issues">
  <div class="column-wrap">
    <p class="p-4 space-x-2">
      <span>{{ stageDisplay[stage] }}</span>
      <span>{{ issues.length }} {{ issues.length > 1 ? 'issues' : 'issue' }}</span>
    </p>
    <div
      class="m-2 mt-0 h-full issue-list"
      [id]="stage"
      cdkDropList
      [cdkDropListData]="issues"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="issue-card"
        *ngFor="let issue of issues"
        cdkDrag
        appDragCursor
        [cdkDragData]="issue"
      >
        <app-issue-card [issue]="issue"> </app-issue-card>
      </div>
    </div>
  </div>
</ng-container>
