<angular-editor
  *ngIf="isDisplay; else rawContent"
  [(ngModel)]="content"
  [config]="editorConfig"
></angular-editor>
<ng-template #rawContent>
  <div
    class="content-wrapper"
    [innerHTML]="content ? content : 'Enter description here'"
    (click)="onStartEdit()"
  ></div>
</ng-template>
<div *ngIf="isDisplay" class="mt-2 space-x-2">
  <button nz-button nzType="primary" (click)="onSaveEdit()">Save</button>
  <button nz-button nzType="default" (click)="onCancelEdit()">Cancel</button>
</div>
