<p class="text-center pb-4 text-2xl font-normal">Sign In</p>
<form nz-form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-control [nzErrorTip]="usernameError">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="username" placeholder="Username" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  
    <app-password-input
      [control]="loginForm.controls['password']"
      [isLoginForm]="true"
      prefixIcon="lock"
    ></app-password-input>

  <ng-template #usernameError let-control>
    <ng-container *ngIf="control.hasError('required')">Username is required</ng-container>
    <ng-container *ngIf="control.hasError('minlength') || control.hasError('maxlength')"
      >Length from 6 to 32 characters</ng-container
    >
    <ng-container
      *ngIf="
        !(control.hasError('minlength') || control.hasError('maxlength')) &&
        control.hasError('pattern')
      "
    >
      Only lowercase alphabet and number
    </ng-container>
  </ng-template>

  <div class="flex justify-between mb-2">
    <div>
      <label nz-checkbox formControlName="remember">
        <span>Remember me</span>
      </label>
    </div>
  </div>
  <button class="bg-primaryDark hover:bg-primary w-full" nz-button [nzType]="'primary'">
    LOGIN
  </button>
</form>
<p class="mt-2 text-center">
  Don't have an account?
  <span class="font-medium"><a [routerLink]="['../register']">Sign up</a></span>
</p>
