.sidebar-wrap {
    transition: width 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
    overflow: hidden;
    @apply h-full relative bg-secondaryLightest;
}

.sidebar-content {
    min-width: 260px;
    overflow-x: hidden;
    @apply absolute top-0 left-0 h-full w-full px-4;
}

.link {
    @apply flex items-center px-3 py-2 hover:bg-secondary rounded-sm text-primaryDark;
}

.active {
    @apply text-primary bg-secondary;
}