<ng-container *ngIf="user$ | async">
  <ng-container *ngIf="vm$ | async as vm">
    <div class="flex w-full h-full">
      <div id="project-list-content">
        <div class="flex flex-col mx-10">
          <div class="flex justify-between mt-8 mb-6">
            <p class="text-2xl font-extrabold">Projects</p>
            <button nz-button nzType="primary" (click)="onOpenCreateModal()">Create Project</button>
          </div>
          <div>
            <nz-table
              nzShowPagination
              nzShowSizeChanger
              [nzPageSize]="5"
              [nzPageSizeOptions]="[5, 10, 15]"
              #projectTable
              [nzData]="vm.projects"
            >
              <thead>
                <tr>
                  <th *ngFor="let header of projectsMetadata">{{ header }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of projectTable.data">
                  <td>{{ project.id }}</td>
                  <td>{{ project.key }}</td>
                  <td>{{ project.name }}</td>
                  <td>{{ project.category }}</td>
                  <td>{{ project.description }}</td>
                  <td>
                    <a [routerLink]="['/project', project.key]">Go to project</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a
                      class="text-red-600"
                      nz-popconfirm
                      nzPopconfirmTitle="Are you sure to delete this project?"
                      nzPopconfirmPlacement="bottom"
                      (nzOnConfirm)="onDeleteProject(project.id)"
                      >Delete</a
                    >
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
