<nz-form-item>
  <nz-form-label *ngIf="!isLoginForm" nzFor="password">{{ label }}</nz-form-label>
  <nz-form-control [nzErrorTip]="passwordError">
    <nz-input-group [nzPrefixIcon]="prefixIcon" [nzSuffix]="suffixTemplate">
      <input
        [type]="passwordVisible ? 'text' : 'password'"
        nz-input
        [placeholder]="isLoginForm ? 'Password' : ''"
        [formControl]="control"
      />
    </nz-input-group>
  </nz-form-control>
</nz-form-item>

<ng-template #suffixTemplate>
  <i
    nz-icon
    [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
    (click)="passwordVisible = !passwordVisible"
  ></i>
</ng-template>

<ng-template #passwordError let-control>
  <ng-container *ngIf="control.hasError('required')">Password is required</ng-container>
  <ng-container *ngIf="control.hasError('minlength')">At least 6 characters</ng-container>
  <ng-container *ngIf="!control.hasError('minlength') && control.hasError('pattern')">
    At least one lowercase letter, one uppercase letter, one number and one special character
  </ng-container>
  <ng-container
    *ngIf="
      !(
        control.hasError('required') ||
        control.hasError('minlength') ||
        control.hasError('pattern')
      ) && control.hasError('confirm')
    "
  >
    Passwords must be the same
  </ng-container>
</ng-template>
