<header class="bg-white shadow-md">
  <nav class="navbar">
    <img class="logo" src="../../../../assets/img/favicon.png" alt="Icon" />

    <div class="nav-items">
      <div class="item">
        <div
          nz-popover
          nzPopoverTitle="About"
          [nzPopoverContent]="aboutContentTemplate"
          nzPopoverPlacement="bottomRight"
          nzPopoverTrigger="click"
        >
          <div nz-tooltip nzTooltipTitle="About" nzTooltipPlacement="bottom" class="itemIcon">
            <i class="text-lg leading-none" nz-icon nzType="info-circle" nzTheme="fill"></i>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="itemIcon">
          <nz-avatar [nzSize]="26" nzIcon="user" [nzSrc]="(user$ | async)?.avatarUrl"></nz-avatar>
        </div>
      </div>
    </div>
    <ng-template #aboutContentTemplate>
      <div class="about-popover">
        <p>This is a simple issue tracking app built with MEAN stack.</p>
        <p>
          My inspiration comes from
          <a class="font-semibold" href="https://www.atlassian.com/software/jira/">Jira Software</a>
          and
          <a class="font-semibold" href="https://jira.trungk18.com/">Angular Jira Clone</a>.
        </p>
      </div>
    </ng-template>
  </nav>
</header>
