header {
    position: relative;
    z-index: 999;
}

.navbar {
    @apply flex h-14 w-full justify-between items-center p-3;
}

img {
    @apply w-10 h-10;
}

.nav-items {
    @apply flex flex-row justify-between items-center;
}

.item {
    @apply flex w-10 h-10 justify-center items-center;
}

.itemIcon {
    @apply flex w-8 h-8 items-center justify-center rounded-full transition-colors duration-200 cursor-pointer;
  }

.itemIcon:hover {
    @apply bg-secondary;
    > i {
        @apply text-primary;
    }
}

.about-popover {
    max-width: 300px;
}
