.collapse-wrap {
  position: absolute;
  top: 56px;
  bottom: 0;
  width: 24px;
//   background: rgb(218, 214, 214);
  opacity: 1;
}

.strip {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2px;
  width: 2px;
  @apply bg-gradient-to-l from-gray-400;
}

.btn {  
  position: absolute;
  top: 32px;
  height: 24px;
  width: 24px;
  transform: translateX(-50%);
  background-color: white;
  opacity: 1;
  box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 1px, rgba(9, 30, 66, 0.08) 0px 2px 4px 1px;
  border-radius: 50%;
  @apply transition-colors duration-200;
}

.btn:hover {
    > span {
        color: white;
    }

    @apply bg-primary;
}
