<div class="flex justify-items-center flex-wrap -m-1">
  <div class="assignee-wrap m-1" *ngFor="let assignee of assignees">
    <nz-avatar [nzSize]="26" nzIcon="user" [nzSrc]="assignee.avatarUrl"></nz-avatar>
    <p>{{ assignee.fullname }}</p>
    <app-icon class="btn" name="close" theme="outline" (click)="onRemoveAssignee(assignee.id)"></app-icon>
  </div>
  <app-icon
    nz-dropdown
    nzTrigger="click"
    [nzDropdownMenu]="menu"
    class="btn bg-secondary m-1"
    bgSize="34"
    iconSize="18"
    name="plus"
    theme="outline"
  ></app-icon>
</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li *ngFor="let user of filterNonAssignees" nz-menu-item (click)="onAddAssignee(user.id)">
      <div class="user-option-wrap">
        <nz-avatar [nzSize]="26" nzIcon="user" [nzSrc]="user.avatarUrl"></nz-avatar>
        <p>{{ user.fullname }}</p>
      </div>
    </li>
  </ul>
</nz-dropdown-menu>
