<div class="card-wrap" cdkDrag appDragCursor [cdkDragData]="issue">
  <p class="mb-2">{{ issue.title }}</p>
  <div class="flex justify-between items-center">
    <div class="flex items-center space-x-1">
      <div class="icon" [style.background-color]="typeIcon.icon.color">
        <i nz-icon [nzType]="typeIcon.icon.name" [nzTheme]="typeIcon.icon.theme"></i>
      </div>
      <span> {{ issue.type | uppercase }}-{{ issue.id }} </span>
    </div>
    <div class="flex items-center space-x-1">
      <app-icon iconSize="20" [color]="priorityIcon.iconColor" name="caret-up" theme='fill'></app-icon>
      <nz-avatar [nzSize]="26" nzIcon="user"></nz-avatar>
    </div>
  </div>
</div>
